@{
    ViewData["Title"] = "Home Page";
}

<h1>bienvenidos</h1>

<style>
    body {
        background-image: url('https://png.pngtree.com/background/20230519/original/pngtree-an-empty-gym-with-dark-grey-walls-picture-image_2667312.jpg'); /* Ruta a tu imagen de fondo */
        background-size: cover;
        background-position: center;
        height: 100vh; 
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #ffffff; 
    }
</style>