@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Bienvenido a nuestra página de Política de Privacidad.</p>

<p>En nuestro gimnasio, nos comprometemos a proteger y respetar su privacidad. Esta política de privacidad explica cómo recopilamos, usamos y protegemos la información personal que usted nos proporciona.</p>

<h2>Información que Recopilamos</h2>
<p>Podemos recopilar y procesar los siguientes datos personales sobre usted:</p>
<ul>
    <li>Nombre completo</li>
    <li>Dirección de correo electrónico</li>
    <li>Número de teléfono</li>
    <li>Dirección postal</li>
    <li>Datos de salud y estado físico (por ejemplo, cuando se inscribe a programas específicos)</li>
</ul>

<h2>Protección de su Información</h2>
<p>Implementamos medidas de seguridad adecuadas para proteger su información personal contra el acceso no autorizado, la alteración, divulgación o destrucción.</p>

<h2>Contacto</h2>
<p>Si tiene alguna pregunta o inquietud acerca de nuestra política de privacidad, no dude en contactarnos:</p>
<ul>
    <li>Email: contacto@ctcgym.com</li>
    <li>Teléfono: +1 234 567 890</li>
    <li>Dirección: Calle Corolla LKA 1332, Colonia, Colonia del Sacramento</li>
</ul>

<p>Gracias por confiar en nosotros y por formar parte de nuestra comunidad de gimnasio.</p>